

.frame{
    height: 500px;
    width: 600px;
    border: none;
}

.imageHolder{
    padding-top: 60px;
}

.search{
    width: 400px;
    height: 38px;
    border: none;
    outline-style:none;
    background-color: #94618e;
    text-align: center; 
    color: #ffae42;
    padding-top: 17px;
    
}

.playB{
    color: #BCED91 !important;
    border-color: #BCED91 !important;
}
.searchTerms{
    padding-bottom: 20px;
    color: #ffae42;
    background-color: #94618e;}

::placeholder {
    color: #ffae42;
    opacity: 0.3; 
  }
  